$bg-body: #ffffff;
$color-on-body: #000000;
$color-border: #dadce0;

$bg-sidebar: #ffffff;
$color-on-sidebar: #121212;

$color-muted: #52595f;
$color-primary: #15DC9B;
$color-primary-dark: #0cc285;
$color-secondary: #0063cd;
$color-secondary-dark: #001787;
$color-transparent: transparent;
$color-white: #ffffff;

$color-surface-outline: #dadce0;
$color-surface-1dp: #ffffff;

$theme-colors: (
        'color-white': #ffffff,
        'color-black': #000000,
        'color-default': #f5f8fa,
        'color-success': #00c853,
        'color-warning': #ffab00,
        'color-info': #0000be,
        'color-danger': #de2839,
        'color-red': #ff1744,
        'color-pink': #f50057,
        'color-purple': #d500f9,
        'color-deep-purple': #651fff,
        'color-blue': #2979ff,
        'color-cyan': #00e5ff,
        'color-teal': #1de9b6,
        'color-green': #00e676,
        'color-yellow': #ffea00,
        'color-amber': #ffc400,
        'color-orange': #ff3d00,
);

$variable-prefix: theme- !default;
$font-dm-sans: "DM Sans", sans-serif;

$fs-1: 2.5rem;
$fs-2: 2rem;
$fs-3: 1.5rem;

$space-1: 1rem;
$space-2: 2rem;
$space-3: 3rem;

$border-radius-6: 6px;
$border-radius-8: 8px;
$border-radius-12: 12px;

$shadow-0dp: none;
$shadow-sm: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
$shadow-md: 0px 1px 20px 0px rgba(0, 0, 0, 0.1);
$shadow-lg: 0px 1px 30px 5px rgba(0, 0, 0, 0.1);
$shadow-xl: 0px 5px 50px 10px rgba(0, 0, 0, 0.1);

$transition-sidebar: .2s ease-in-out;
$transition-cubic-bezier: all 0.3s cubic-bezier(.25, .8, .25, 1);

$gutter-x: 1.5rem;
$gutter-y: 0;

// Breakpoints
$breakpoints: (
        1155: 1155px,
        1024: 1024px,
        992: 992px,
        768: 768px,
        600: 600px,
        320: 320px,
);

@media (prefers-color-scheme: dark) {
  $bg-body: #121212;
  $color-on-body: #ffffff;
}
