@use "sass:math";

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(0px);
  opacity: 1;
  visibility: visible;
  width: calc(#{$space-3} * 6);
  height: 100%;
  background-color: $bg-sidebar;
  color: $color-on-sidebar;
  border-right: 3px solid $color-border;
  transition: $transition-sidebar;
  z-index: 99;
  padding: 20px;

  &.sidebar-hidden {
    transform: translateX(-300px);
    opacity: 0;
    visibility: hidden;
  }

  .sidebar-content {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: nowrap;
    height: 100%;
    min-height: 100%;

    .sidebar-header {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      word-break: break-all;
      align-items: center;
      border-bottom: 1px solid $color-border;

      p {
        font-weight: 700;
      }
    }

    .sidebar-body {
      padding: 10px 5px 10px 5px;
      margin: 20px 0 20px 0;
      overflow-y: scroll;
      overflow-x: hidden;
      flex: 1;

      .sidebar-item {
        color: $color-muted;
        border: 1px solid transparent;
        border-radius: $border-radius-8;
        transition: $transition-cubic-bezier;
        padding: .5rem;
        margin-bottom: .5rem;

        a {
          text-decoration: none;
          background-color: transparent;

          i {
            margin-right: math.div($space-1, 3);
          }
        }

        &:hover {
          background-color: scale-color($color-primary, $alpha: -90%) !important;
          font-weight: 700;
        }

        &.disabled {
          background-color: scale-color($color-muted, $alpha: -85%);
          opacity: 0.5;

          a {
            color: $color-muted;
          }
        }
      }
    }

    .sidebar-footer {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
    }
  }
}